.container {
	display: flex;
    flex-direction: column;

    &__head {
        display: flex;
        justify-content: space-between;
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 921px;
        margin: auto;
    }

    &__right {
        float: right;
        position: fixed;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 921px;
        margin: auto;
    }
}