.headline {
    color: @color-header;
    line-height: 42px;
    margin-right: 210px;
    margin-top: 10px;
    padding-left: 20px;

    &__item {
        .display();

        &:nth-child(1) {
            width: 300px;
        }
    }

    &__geolink {
        .display();
        padding-right: 16px;
    }

    &__data-time {
        .font-header-light()
    }
}

.display() {
    display: flex;
    align-items: baseline;
}