.notif {
    top: 10px;
    right: 2px;
    width: 200px;

    &__block {
        margin-right: 6px;
        border-radius: 8px;
        box-shadow: 0 0 32px @clr-shadow-aside;
        padding: 12px 14px;
    }
}