.search{
    &__logo {
        width: 140px;
        height: 100px;
        margin-left: -140px;
        background-image: url(https://yastatic.net/s3/home-static/_/x/Q/xk8YidkhGjIGOrFm_dL5781YA.svg);
    }
}